@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Exo+2:wght@400;500;600;700&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Exo 2", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
}

.layout_margin {
  margin: 90px 0;
}

.layout_padding {
  padding: 90px 0;
}

.layout_padding2 {
  padding: 45px 0;
}
.layout_padding2 .align-justify {
  text-align: justify;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container h2 {
  font-weight: bold;
  color: #012340;
  text-align: center;
  position: relative;
  padding-bottom: 10px;
}
.heading_container h2::before {
  content: "";
  width: 100px;
  height: 1px;
  background-color: #06a594;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.hero_next_section-margin {
  margin-top: 100px;
}

/*header section*/
.hero_area {
  height: 100vh;
  position: relative;
  background: linear-gradient(to right, #f2f7fd 50%, #012340 45%);
}

@media only screen and (max-width: 600px) {
  .hero_area {
    background: linear-gradient(to right, #f2f7fd 50%, #012340 45%);
  }
}
.sub_page .hero_area {
  height: auto;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link img {
  width: 22px;
  margin-right: 15px;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0px 25px;
  color: #fefeff;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.custom_menu-btn {
  z-index: 9;
  position: absolute;
  right: 15px;
  top: 14px;
}
.custom_menu-btn button {
  margin-top: 12px;
  outline: none;
  border: none;
  background-color: transparent;
}
.custom_menu-btn span {
  display: block;
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 7px 0;
  transition: all 0.3s;
}

.custom_menu-btn .custom_menu-btn .s-2 {
  transition: all 0.1s;
}

.menu_btn-style button {
  position: fixed;
  right: 29px;
  top: 14px;
}
.menu_btn-style button .s-1 {
  transform: rotate(45deg) translateY(17px);
}
.menu_btn-style button .s-2 {
  transform: translateX(100px);
}
.menu_btn-style button .s-3 {
  transform: rotate(-45deg) translateY(-17px);
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}
.overlay .closebtn {
  position: absolute;
  top: 0;
  right: 30px;
  font-size: 60px;
}
.overlay a {
  padding: 0px;
  text-decoration: none;
  font-size: 22px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.menu_width {
  width: 100%;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  box-shadow: none;
}

.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);
  background-size: 18px;
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
  margin: 0 40px 0 15px;
  background-position: center;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  width: 150px;
  margin-right: 5px;
}

.navbar-brand span {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  color: #06a594;
  margin-top: 5px;
}

.custom_nav-container {
  z-index: 99999;
  padding: 15px 0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 55px;
}

.quote_btn-container a {
  display: inline-block;
  padding: 5px 15px;
  background-color: #fc5d35;
  color: #f7f7f7;
  font-size: 14px;
  text-transform: uppercase;
}

/*end header section*/
.slider_section {
  display: flex;
  align-items: center;
  height: calc(100% - 75px);
  padding: 50px 0;
}
.slider_section .row {
  align-items: center;
  position: unset;
}
.slider_section .row .col-md-7,
.slider_section .row .col-md-5 {
  position: unset;
}
.slider_section .carousel {
  position: unset;
}
.slider_section .detail-box {
  margin-left: 0px;
  font-family: "Alegreya Sans", sans-serif;
}
.slider_section .detail-box h4 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.8rem;
}
.slider_section .detail-box h2 {
  font-weight: bold;
  color: #06a594;
  font-size: 1.5rem;
}
.slider_section .detail-box a {
  display: inline-block;
  padding: 10px 60px;
  background-color: #012340;
  color: #fefdfc;
  border-radius: 0;
  border: 1px solid #012340;
  text-transform: uppercase;
  margin-top: 35px;
}
.slider_section .detail-box a:hover {
  background-color: transparent;
  color: #012340;
}
.slider_section .img-box {
  width: 100%;
}
.slider_section .img-box img {
  height: 621px;
}
.slider_section .carousel-control-prev,
.slider_section .carousel-control-next {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  left: 50%;
  opacity: 1;
  transform: translateX(-50%);
  background-repeat: no-repeat;
}
.slider_section .carousel-control-prev {
  background-color: #012340;
  top: 80px;
  background-image: url(../images/left-arrow.png);
  background-position: 14px center;
}
.slider_section .carousel-control-next {
  background-color: #f2f7fd;
  top: initial;
  bottom: 150px;
  background-image: url(../images/right-arrow.png);
  background-position: 35px center;
}
.slider_section .carousel-indicators {
  margin: 0;
  bottom: 50%;
  flex-direction: column;
  left: 25px;
  transform: translateY(50%);
}
.slider_section .carousel-indicators li {
  margin: 0;
  width: 30px;
  height: 30px;
  background-color: #012340;
  opacity: 1;
}
.slider_section .carousel-indicators li.active {
  background-color: #06a594;
}

.feature_section {
  background-color: #000000;
  font-family: "Exo 2", sans-serif;
}
.feature_section .box {
  background-color: #fcfcfd;
  padding: 15px;
  margin: 45px 0;
}
.feature_section .box .head-box-why {
  text-align: center;
  position: relative;
}
.feature_section .box .head-box-why h6 {
  font-weight: bold;
  font-size: 18px;
}
.feature_section .box .icon-custom {
  color: #06a594;
  font-size: 32px;
  font-weight: 900;
}
.feature_section .box .detail-box-why {
  margin-top: 30px;
  text-align: center;
}
.feature_section .box .detail-box-why p {
  margin: 0;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 18px;
}
.feature_section .box .head-box {
  display: flex;
  align-items: center;
}
.feature_section .box .head-box .img-box {
  margin-right: 15px;
}
.feature_section .box .head-box .img-box svg {
  width: 50px;
  height: auto;
  fill: #06a594;
}
.feature_section .box .head-box h6 {
  font-weight: bold;
  font-size: 18px;
}
.feature_section .box .detail-box {
  margin-top: 15px;
}
.feature_section .box .detail-box p {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.feature_section .box:hover {
  background-color: #06a594;
  color: #fefdfc;
}
.feature_section .box:hover .head-box .img-box svg {
  fill: #fefdfc;
}
.feature_section .box:hover .icon-custom {
  color: #fefdfc;
  font-size: 32px;
}
.feature_section a {
  display: inline-block;
  padding: 10px 40px;
  background-color: #06a594;
  color: #fefdfc;
  border-radius: 0;
  border: 1px solid #06a594;
}
.feature_section a:hover {
  background-color: transparent;
  color: #06a594;
}

.download_section {
  font-family: "Exo 2", sans-serif;
}
.download_section .box {
  background-color: #06a594;
  padding: 25px;
  margin: 35px 0;
  color: #fefdfc;
  height: 220px;
}
.download_section .box .head-box {
  display: flex;
  align-items: center;
}
.download_section .box .head-box .img-box {
  margin-right: 15px;
  width: 60px;
  height: 60px;
  border: 1px solid #fefdfc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.download_section .box .head-box .img-box img {
  width: 30px;
}
.download_section .box .head-box h6 {
  font-weight: bold;
  font-size: 18px;
}
.download_section .box .detail-box {
  margin-top: 10px;
}
.download_section .box .detail-box p {
  margin: 0;
  font-size: 18px;
  font-family: "Alegreya Sans", sans-serif;
}
.download_section .box-1::before, .download_section .box-1::after {
  content: "";
  width: 100%;
  height: 200px;
  position: absolute;
  z-index: -1;
  border: 2px solid #050505;
  transition: all 0.25s ease-out;
}
.download_section .box-1::before {
  background-color: #050505;
  top: 15px;
  left: -15px;
}
.download_section .box-1::after {
  bottom: 330px;
  right: -15px;
}
.download_section .box-1:hover::before {
  top: 75px;
  left: 15px;
}
.download_section .box-1:hover::after {
  top: 15px;
  right: 15px;
}
.download_section .btn-1 {
  display: inline-block;
  padding: 10px 40px;
  background-color: #012340;
  color: #fefdfc;
  border-radius: 0;
  border: 1px solid #012340;
  margin-top: 25px;
}
.download_section .btn-1:hover {
  background-color: transparent;
  color: #012340;
}
.download_section .btn-2 {
  display: inline-block;
  padding: 10px 40px;
  background-color: #012340;
  color: #fefdfc;
  border-radius: 0;
  border: 1px solid #012340;
  margin-top: 25px;
}
.download_section .btn-2:hover {
  background-color: transparent;
  color: #012340;
}
.download_section .main-img-box {
  display: flex;
  justify-content: center;
}
.download_section .main-img-box img {
  width: 75%;
  filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.37));
}

.about_section {
  background-image: url(../images/about-bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.about_section .row {
  justify-content: space-between;
}
.about_section .detail-box {
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.about_section .detail-box.b-1 {
  justify-content: flex-end;
}
.about_section .detail-box.b-1 a {
  display: inline-block;
  padding: 10px 40px;
  background-color: #06a594;
  color: #fefdfc;
  border-radius: 0;
  border: 1px solid #06a594;
}
.about_section .detail-box.b-1 a:hover {
  background-color: transparent;
  color: #06a594;
}

.subscribe_section {
  background-color: #e7e7e7;
}
.subscribe_section .filter {
  filter: grayscale(100%);
}
.subscribe_section form {
  display: flex;
  justify-content: space-between;
}
.subscribe_section form input {
  width: 69%;
  height: 50px;
  border: none;
  padding-left: 15px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.12);
}
.subscribe_section form button {
  width: 29%;
  height: 50px;
  text-transform: uppercase;
  display: inline-block;
  padding: 0 0;
  background-color: #06a594;
  color: #fefdfc;
  border-radius: 0;
  border: 1px solid #06a594;
  font-weight: bold;
  line-height: 50px;
}
.subscribe_section form button:hover {
  background-color: transparent;
  color: #06a594;
}

.client_section {
  background-color: #012340;
}
.client_section .heading_container h2 {
  color: #fefdfc;
}
.client_section .client_container {
  color: #fefdfc;
  text-align: center;
}
.client_section .client_container .client-detail {
  margin-top: 20px;
}
.client_section .client_container a {
  display: inline-block;
  padding: 10px 40px;
  background-color: #06a594;
  color: #fefdfc;
  border-radius: 0;
  border: 1px solid #06a594;
}
.client_section .client_container a:hover {
  background-color: transparent;
  color: #06a594;
}
.client_section .client_container p {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 18px;
}

.portfolio_section {
  background-color: #012340;
}
.portfolio_section .heading_container h2 {
  color: #fefdfc;
}
.portfolio_section .custom {
  padding-bottom: 30px;
  opacity: 1;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.portfolio_section .middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.portfolio_section .img-container:hover .image {
  opacity: 1.3;
}
.portfolio_section .img-container:hover .middle {
  opacity: 1;
}
.portfolio_section .color-custom {
  text-decoration: none;
  color: white;
}
.portfolio_section .text {
  background-color: #06a594;
  font-size: 16px;
  padding: 16px 32px;
  font-family: "Alegreya Sans", sans-serif;
}

/* contact section */
.contact_section {
  background-color: #f2f7fd;
}
.contact_section h2 {
  font-size: 26px;
  color: #010103;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  margin-bottom: 35px;
}
.contact_section .row {
  align-items: center;
}

.contact_section input {
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
  width: 90%;
  margin: 15px 0;
  background-color: transparent;
}
.contact_section input::-moz-placeholder {
  color: #595959;
  font-size: 14px;
}
.contact_section input::placeholder {
  color: #595959;
  font-size: 14px;
}

.contact_form-container button {
  border: none;
  background-color: #06a594;
  color: #fff;
  font-size: 15px;
  padding: 15px 45px;
  border-radius: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.contact_img-box {
  display: flex;
  align-items: center;
}
.contact_img-box img {
  width: 100%;
}

/* end contact section */
/* info section */
.info_section {
  background-color: #363636;
  color: #ffffff;
  font-family: "Exo 2", sans-serif;
}
.info_section h5 {
  margin-bottom: 12px;
  font-size: 22px;
}
.info_section p {
  font-family: "Alegreya Sans", sans-serif;
}

.info_logo-box {
  display: flex;
  justify-content: center;
}
.info_logo-box h2 {
  font-weight: bold;
  padding: 5px 35px;
  border-bottom: 1.5px solid #06a594;
}

.info_section ul {
  padding: 0;
}
.info_section ul li {
  list-style-type: none;
  margin: 3px 0;
}
.info_section ul li a {
  color: #ffffff;
}
.info_section ul li a:hover {
  color: #06a594;
}

.info_section .form_container input {
  width: 225px;
  height: 40px;
  padding: 10px;
}
.info_section .form_container::-moz-placeholder {
  color: #ccc8c8;
}
.info_section .form_container::placeholder {
  color: #ccc8c8;
}
.info_section .form_container button {
  background-color: #06a594;
  border: none;
  outline: none;
  color: #fff;
  padding: 8px 30px;
  margin-top: 15px;
  font-size: 15px;
  text-transform: uppercase;
}

.social_container {
  width: 95%;
  margin: 0 auto;
  border-top: 1px solid #898989;
  padding: 25px 0;
}

.info_section .social-box {
  margin: 0 auto;
  width: 400px;
  display: flex;
  justify-content: center;
}
.info_section .social-box img {
  width: 35px;
  margin-right: 5px;
}

/* end info section */
/* footer section*/
.footer_section {
  background-color: #06a594;
  padding: 20px;
}

.footer_section p {
  margin: 0;
  text-align: center;
  color: #fefdfc;
}

.footer_section a {
  color: #fefdfc;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  border-radius: 100%;
}/*# sourceMappingURL=style.css.map */